<div class="well well-small">
  <h3><%= t "static_pages.New_Books" %></h3>
  <hr class="soften"/>
  <div class="row-fluid">
    <% if @new_books.any? %>
      <div id="newProductCar" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <% if @items_active.any? %>
                <% @items_active.each do |item| %>
                  <li class="span3">
                    <div class="thumbnail">
                      <%= link_to image_tag(item.image, class: "img_new_books"), book_path(item.id) %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
            <% if @items.any? %>
                <% @items.each do |item| %>
                  <li class="span3">
                    <div class="thumbnail">
                      <%= link_to image_tag(item.image, class: "img_new_books"), book_path(item.id) %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
      </div>
    <% end %>
  </div>
</div>
