<% provide :title, t(".title") %>
<div class="well well-small">
  <h2><%= t ".h2" %>
    <small class="pull-right">
      <%= t ".small", count: @count_requests %>
    </small>
  </h2>
  <hr class="soften"/>
  <div class = "post-body">
    <%= render "list_request" %>
  </div>
  <%= link_to t(".create"), new_user_buy_request_path(@user.id) %>
</div>
