<% provide :title, t("loved.title") %>
<h3><%= t "loved.h3_content" %></h3>
<ul class="thumbnails">
  <% @most_loved_books.each do |book| %>
  <li class="book">
    <div class="thumbnail">
      <%= link_to image_tag( book.image, class: "img_book"), book_path(book.id) %>
      <div class="caption">
        <h5>
          <%= book.title %>
        </h5>
      </div>
    </div>
  </li>
  <% end %>
</ul>
