<% provide :title, t("books.all_books") %>
<div class="well well-small">
  <div class="row-fluid">
    <h3><%= t "books.all_books" %></h3>
    <ul class="thumbnails">
      <%= render "list_all_books" %>
    </ul>
  </div>
</div>
