@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
  background:url(white_leather.png) repeat 0 0;
}
.topNav{
  padding: 0;
  border-bottom: 1px solid #CCC;
  background: #f2f2f2;
  box-shadow: 0 0 3px #B1AFAF;
}
.topNav a{
  color:#333;
  font-size:12px;
  font-weight:bold;
  display:inline-block;
  padding:8px 4px;
}
.topNav a:hover, .topNav a.active{
  color:#fff;
  background:#f89406;
  text-decoration:none
}
.socialNw a{
  width:24px;
  height:24px;
  line-height:24px;
  display:inline-block;
  padding:3px;
  margin-top:3px;
  font-size:21px;
  border-radius:50%;
  background:#999;
  color:#fff;
  text-align:center;
}
.alignR{
  text-align:right;
}
#logo{
  padding: 10px;
  margin-top: 50px;
  width: 244px;
  height: 71px;
}
#list_popular_book{
  padding: 0px;
  background-color: #f5f5f5;
}
.np{
  padding:0
}
#list_popular_book li{
  margin: 30px 0;
}
.footer{
  background-color: #f5f5f5;
}
button.fa-heart-o {
  border: none;
  background-color: #f5f5f5;
}
button.fa-cart-plus {
  border: none;
  background-color: #f5f5f5;
  color: red;
}
input.sub_search {
  width: 100%;
}
.img_slide{
  width: 698px;
  height: 328px;
}
.img_new_books{
  width: 148px;
  height: 193px;
}
#search_for{
  margin: 0px;
}
.img_popular_books{
  width: 190px;
  height: 246px;
}
.name_popular_books{
  text-align: center;
}
.content_footer{
  padding: 0 2%;
  text-align: center;
}
.content_column{
  width: 30%;
  margin: 0 1%;
  display: inline;
  float: left;
}
.img_book{
  width: 206px;
  height: 328px;
}
.thumbnails{
  padding-left: 1%;
}
.book{
  padding-left: 1%;
  padding-bottom: 5px;
  margin: 0px;
  width: 28%;
  border: none;
}
.shopBtn{
  min-height: 34px;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #f89406;
  display:inline-block;
  padding:0 12px;
  border:0;
}
.error_explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors{
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.category{
  width: 160px;
}
.search-query.span2{
  width: 270px;
}
.pagination{
  width: 100%;
  display: inline-block;
}
.checked{
  color: yellow;
}
.nav.nav-list.rating li a{
 color: #a7a2a2;
}
.fs-rate{
  margin: 0;
  padding: 0;
}
.fs-rate label{
  margin: 0;
  padding: 0;
}
.rate {
  border: none;
  float: left;
}
.rate > input{
  display: none;
}
.rate > label:before{
  margin: 5px;
  font-size: 15px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rate > .half:before{
  content: "\f089";
  position: absolute;
}
.rate > label{
  color: #808080;
 float: right;
}
.rate > input:checked ~ label,
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label{
  color: #FFD700;
}
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
  color: #FFED85;
}
.w-space{
  padding-left: 8px;
}
.r{
  color: orange;
}
.ta-review{
  width: 100%;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img_detail_book{
  width: 100%;
  height: 100%;
}
.fa.fa-heart{
  font-size: 30px;
  margin: 0px 9px;
}
.fa.fa-eye{
  font-size: 30px;
  margin: 0px 9px;
}
.fa.fa-check-circle{
  font-size: 30px;
  margin: 0px 9px;
}
.label_detail_book{
  display: inline;
}
.content_summary,.content_review{
  margin: 18px;
}
.text_notify_mark{
  color: blue;
}
.a_href_login{
  margin-left: 45%;
  background-color: orange;
  padding: 3px;
}
.icon_not_mark{
  color: wheat;
}
.icon_markno_mark{
  color: wheat;
}
.icon_markfalse{
  color: wheat;
}
.notify_not_mark,.alert-success{
  font-size: 12px;
}
.btn_mark{
  border: none;
  background-color: #f5f5f5;
}
.fa.fa-heart.icon_marktrue{
  color: red;
}
.fa.fa-eye.icon_markreading{
  color: #73f1eb;
}
.fa.fa-eye.icon_markread{
  color: wheat;
}
.fa.fa-check-circle.icon_markread{
 color: green;
}
.fa.fa-check-circle.icon_markreading{
 color: wheat;
}
.mytab{
  margin: 0px;
}
.tabWrapper{
  background-color: white;
}
.content_table{
  padding: 15px 0px;
  margin: 0% 1%;
  width: 98%;
}
.post-body table{
  width: 100%;
}
.post-body table td,.post-body table caption{
  background: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 10px;
  text-align: center;
  vertical-align: top
}
.post-body table th{
  background: #808080;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  border-bottom: 0;
  padding: 10px;
  text-align: center;
  vertical-align: top
}
.post-body table.tr-caption-container{
  border: 1px solid rgba(0,0,0,0.14);
  margin: 0;
}
.post-body th{
  font-weight: 700;
}
.post-body table caption{
  border: none;
  font-style: italic;
}
.post-body td, .post-body th{
  vertical-align: top;
  text-align: left;
  font-size: 13px;
  border: 1px solid #97b28e;
}
.post-body th{}
.post-body th:hover{
  color: #fff;
}
.post-body td a{
  color: #444;
}
.post-body td a:hover{
  color: #cf4d35;
}
.post-body table.tr-caption-container td{
  border: 0;
  padding: 8px;
  background: #fff;
  line-height: 17px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  color: #000;
}
.post-body table.tr-caption-container, .post-body table.tr-caption-container img, .post-body img{
  max-width: 100%;
  height: auto;
}
.post-body li{
  list-style-type: square;
}
.post-body td.tr-caption{
  color: #666;
  font-size: 80%;
  padding: 0px 8px 8px!important;
}
.sr{
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.clear{
  clear: both
}
