@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background:url(white_leather.png) repeat 0 0;
}
.topNav{
  padding: 0;
  border-bottom: 1px solid #CCC;
  background: #f2f2f2;
  box-shadow: 0 0 3px #B1AFAF;
}
.topNav a{
  color:#333;
  font-size:12px;
  font-weight:bold;
  display:inline-block;
  padding:8px 4px;
}
.topNav a:hover, .topNav a.active{
  color:#fff;
  background:#f89406;
  text-decoration:none
}
.socialNw a{
  width:24px;
  height:24px;
  line-height:24px;
  display:inline-block;
  padding:3px;
  margin-top:3px;
  font-size:21px;
  border-radius:50%;
  background:#999;
  color:#fff;
  text-align:center;
}
.alignR{
  text-align:right;
}
#logo{
  padding: 10px;
  margin-top: 50px;
  width: 244px;
  height: 71px;
}
#list_popular_book{
  padding: 0px;
  background-color: #f5f5f5;
}
.np{
  padding:0
}
#list_popular_book li{
  margin: 30px 0;
}
.footer{
  background-color: #f5f5f5;
}
button.fa-heart-o {
  border: none;
  background-color: #f5f5f5;
}
button.fa-cart-plus {
  border: none;
  background-color: #f5f5f5;
  color: red;
}
input.sub_search {
  width: 100%;
}
.img_slide{
  width: 698px;
  height: 328px;
}
.img_new_books{
  width: 148px;
  height: 193px;
}
#search_for{
  margin: 0px;
}
.img_popular_books{
  width: 190px;
  height: 246px;
}
.name_popular_books{
  text-align: center;
}
.content_footer{
  padding: 0 2%;
  text-align: center;
}
.content_column{
  width: 30%;
  margin: 0 1%;
  display: inline;
  float: left;
}
.img_book{
  width: 206px;
  height: 328px;
}
.thumbnails{
  padding-left: 1%;
}
.book{
  padding-left: 1%;
  padding-bottom: 5px;
  margin: 0px;
  width: 28%;
  border: none;
}
