<hr>
<div class="well well-small">
  <%= link_to loved_path, class: "btn btn-mini pull-right" do %>
    <%= t("static_pages.btn_view") %>
    <%= content_tag :span, "", class: "icon-plus" %>
  <% end %>
  <%= t "static_pages.title_loved_book" %>
</div>
